header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  background-color: var(--bg_color_3);
  padding: 38px 48px;
}

/* CLASSES */
.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.nav-menu {
  margin-top: 24px;
}

.list-link {
  list-style: none;
}

.list-link li {
  margin: 16px 0;
}

.list-link li a {
  color: var(--txt-color_2);
  text-decoration: none;
  font-weight: var(--txt_weight_content);
  font-size: 24px;
}

/* OUTROS */
body {
  font-family: "Montserrat";
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  background-color: var(--bg_color_3);
  width: 100%;
  top: 100%;
  left: 0;
}

nav {
  display: none;
}

/* TELAS */
@media screen and (min-width: 768px) {
  .nav-menu {
    margin-top: 0;
  }

  .nav-menu label {
    display: none;
  }

  .nav-menu nav {
    display: block;
  }

  .nav-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .nav-menu ul li{
    margin: 0;
  }
}
