header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg_color_3);
  padding: 38px 48px;
}

/*CLASSES*/
.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.nav-menu {
  margin-top: 24px;
}

/*OUTROS*/
nav {
  display: none;
}
